{% extends "meeting/proceedings/edit_material_base.html" %}
{# Copyright The IETF Trust 2015-2021, All Rights Reserved #}

{% load bootstrap3 %}

{% block title %}
  Upload {{ material_type.name }} for {{ meeting }} Proceedings
{% endblock %}

{% block content_header %}
  Upload Proceedings Material<br>
  <small>
    {{ meeting }} {{ material_type.name }}
  </small>
{% endblock %}

{% block intro %}
  <p>
  {% if material is None %}
    This document will be linked from the {{ meeting }} proceedings under the "{{ material_type.name }}" label.
    You can change the label by setting the title after uploading the document.
  {% else %}
    Select a file to replace the existing document. This document will be linked from the
    {{ meeting }} proceedings under the "{{ material.document.title }}" label.
    You can change the label by changing the title after uploading the document.
  {% endif %}
  </p>
{% endblock %}

{% block edit_form %}
  <form class="upload-material" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}

    {% block form_buttons %}
      {% buttons %}
        <a class="btn btn-default pull-right" href="{{ back_href }}">Back</a>
        <button class="btn btn-primary" type="submit">Upload</button>
      {% endbuttons %}
    {% endblock %}
  </form>
{% endblock %}
