{% extends "base.html" %}
{# Copyright The IETF Trust 2015, All Rights Reserved #}
{% load origin %}
{% load agenda_custom_tags %}

{% block title %}IETF {{ meeting.number }} Meeting Agenda: Timeslot/Room Availability{% endblock %}

{% block morecss %}
  .tstable { width: 100%;}
  .tstable th { white-space: nowrap;}
  .tstable td { white-space: nowrap;}
  .capacity { font-size:80%; font-weight: normal;}

  .tstable .tstype_unavail {background-color:#666;}
{% endblock %}

{% block content %}
  {% origin %}

  <p class="pull-right">
    <a href="{% url "ietf.meeting.views.create_timeslot" num=meeting.number %}">New timeslot</a>
  </p>
  <table id="timeslot-table" class="tstable table table-striped table-compact table-bordered">
    <thead>
    <tr>
      <th></th>
      {% for day in time_slices %}
        <th colspan="{{date_slices|colWidth:day}}">
          {{day|date:'D'}}&nbsp;({{day}})
        </th>
      {% endfor %}
    </tr>
    <tr>
      <th></th>
      {% for day in time_slices %}
        {% for slot in slot_slices|lookup:day %}
          <th>
            {{slot.time|date:'Hi'}}-{{slot.end_time|date:'Hi'}}
          </th>
        {% endfor %}
      {% endfor %}
    </tr>
    </thead>

    {% for room in rooms %}
      <tr>
        <th>{{room.name}}<span class='capacity'>{% if room.capacity %} ({{room.capacity}}){% endif %}</th>
        {% for day in time_slices %}
          {% for slice in date_slices|lookup:day %}
            {% include 'meeting/timeslot_edit_timeslot.html' with ts=ts_list.popleft only %}
          {% endfor %}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>

{% endblock %}

{% block js %}
  <script type="text/javascript">
  window.addEventListener('load', function (event) {
    document.getElementById('timeslot-table').addEventListener('click', function(event) {
      let clicked = event.target; // find out what was clicked
      if (clicked.classList.contains('timeslot-delete-button')) {
        // handle timeslot delete button click
        let timeslotElt = clicked.closest('.timeslot');
        let deleteId = timeslotElt.dataset.timeslotPk;
        deleteTimeSlot(deleteId)
        .error(function(jqXHR, textStatus) {
          displayError('Error deleting timeslot: ' + jqXHR.responseText)
        })
        .done(function () {timeslotElt.parentNode.removeChild(timeslotElt)});
      }
    })
  });

  /**
   * Make an AJAX request to delete a TimeSlot
   *
   * @param id ID of TimeSlot to delete
   * @returns jqXHR object corresponding to jQuery ajax request
   */
  function deleteTimeSlot(id) {
    return jQuery.ajax({
      method: 'post',
      timeout: 5 * 1000,
      data: {
        action: 'delete',
        slot_id: String(id)
      }
    });
  }

  function displayError(msg) {
    window.alert(msg);
  }
  </script>
{% endblock %}